In [26]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


city_data = pd.read_csv("Resources/city_data.csv")
ride_data = pd.read_csv("Resources/ride_data.csv")

sum(city_data["type"] == "Rural")
pyberDataDf = pd.merge(city_data, ride_data, on=["city","city"], how="left")
pyberDataDf.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2019-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2019-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2019-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2019-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2019-04-17 02:26:37  23.00   720020655850