In [32]:
# Dependencies
import pandas as pd

In [33]:
# Create a Pandas Series from the following list of schools.
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]
bootcamp_uni_series = pd.Series(bootcamp_unis)

In [34]:
# Convert the following list of dictionaries into a DataFrame.
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Redemption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]
movies_series = pd.DataFrame(movies_dicts)

movies_series.head()

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [35]:
# Edit the movie_dicts so that the the values for the "Title" and "Year Released" are list of movie titles and years.
#  Then, convert the dictionary of lists into a DataFrame. 
title_list = ["The Godfather","The Shawshank Redemption","Pulp Fiction", "The Lord of the Rings: The Return of the King"]
year_list = [1972,1994,1994,2003]
movie_dik = {"Title:" : title_list, "Year:" : year_list}
movieDF = pd.DataFrame(movie_dik)

In [36]:
# Create a DataFrame using a dictionary of lists