In [2]:
import pandas as pd

Two Main Datatypes

In [3]:
series = pd.Series(["BMW", "Toyota", "Honda"])

In [5]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

Series = 1-Dimensional

In [7]:
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

Now we'll make a Dataframe, which can be multidimensional

In [10]:
car_data = pd.DataFrame({"Car Make": series, "Color": colors })
car_data.head()

  Car Make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White

now we'll import data instead of just creating it

In [12]:
gas_prices = pd.read_csv("daily_gas_prices.csv")

In [20]:
gas_prices.head()

         Date  Price
0  1997-01-07   3.82
1  1997-01-08   3.80
2  1997-01-09   3.61
3  1997-01-10   3.92
4  1997-01-13   4.00

## Describing Data