In [94]:
import pandas as pd

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

# A dictionary of high schools and the type of school.
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_series = pd.Series(high_schools)
school_data= pd.DataFrame(high_school_dicts)
missingGradesDF = pd.read_csv("Resources/missing_grades.csv")
missingGradesDF.fillna(85,inplace=True)
school_id = school_dataFrame['School ID'].tolist()
school_name = school_dataFrame['school_name'].tolist()
school_type = school_dataFrame['type'].tolist()
#to reconstruct the earlier df by assigning columns to this DF
#school_df = pd.DataFrame()
#school_df["school_id"] = school_id

In [95]:
schoolCompleteDF = pd.read_csv("Resources/schools_complete.csv")
studentCompleteDF = pd.read_csv("Resources/clean_students_complete.csv")
#studentCompleteDF['student_name'][3] = 'Richard Scott'
#better way to replace Dr. Richard Scott 
#studentCompleteDF.replace({'student_name': 'Dr. Richard Scott'}, 'Richard Scott', inplace=True)
#only run once after completion
#studentCompleteDF.to_csv('Resources/students_complete.csv')

In [96]:
'''student_names=studentCompleteDF["student_name"].tolist()
names_to_fix = []
for name in student_names:
    if len(name.split()) >= 3:
        names_to_fix.append(name)
prefixes=[]
suffixes=[]
for name in names_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
for name in names_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])
prefixes_to_remove = ['Ms.', 'Mrs.', 'Miss','Mr.', 'Dr.']
suffixes_to_remove = ['MD','DDS', 'DVM','Ph.D']

pre_suf_to_remove = prefixes_to_remove + suffixes_to_remove

#removing prefixes and replacing them with nothing
for word in pre_suf_to_remove:
    studentCompleteDF["student_name"] = studentCompleteDF["student_name"].str.replace(word,"")
    '''

'student_names=studentCompleteDF["student_name"].tolist()\nnames_to_fix = []\nfor name in student_names:\n    if len(name.split()) >= 3:\n        names_to_fix.append(name)\nprefixes=[]\nsuffixes=[]\nfor name in names_to_fix:\n    if len(name.split()[0]) <= 4:\n        prefixes.append(name.split()[0])\nfor name in names_to_fix:\n    if len(name.split()[-1]) <= 3:\n        suffixes.append(name.split()[-1])\nprefixes_to_remove = [\'Ms.\', \'Mrs.\', \'Miss\',\'Mr.\', \'Dr.\']\nsuffixes_to_remove = [\'MD\',\'DDS\', \'DVM\',\'Ph.D\']\n\npre_suf_to_remove = prefixes_to_remove + suffixes_to_remove\n\n#removing prefixes and replacing them with nothing\nfor word in pre_suf_to_remove:\n    studentCompleteDF["student_name"] = studentCompleteDF["student_name"].str.replace(word,"")\n    '

In [97]:
school_data_complete_df = pd.merge(studentCompleteDF, schoolCompleteDF, on=["school_name","school_name"])

In [98]:
total_budget = school_data_complete_df["budget"].unique().sum()
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

passing_reading_score = 70
passing_math_score = 70

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= passing_reading_score]
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= passing_math_score]

passing_reading.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [99]:
passing_reading_count = passing_reading["student_name"].count()
passing_math_count = passing_math["student_name"].count()

In [100]:
student_pop = float(school_data_complete_df["Student ID"].count())
passing_math_percentage = passing_math_count / student_pop * 100.0
passing_reading_percentage = passing_reading_count / student_pop *100.0

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"]>=70)]

In [101]:
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_percentage = overall_passing_math_reading_count / student_pop * 100
school_count = len(school_data_complete_df.school_name.unique())

In [102]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_pop,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170.0,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [111]:
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]
district_summary_df = district_summary_df[new_column_order]

In [113]:
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170.0",24649428,78.985371,81.87784,74.980853,85.805463,65.172326