In [19]:
import pandas as pd

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

# A dictionary of high schools and the type of school.
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_series = pd.Series(high_schools)
school_dataFrame= pd.DataFrame(high_school_dicts)
school_id = school_dataFrame['School ID'].tolist()
school_name = school_dataFrame['school_name'].tolist()
school_type = school_dataFrame['type'].tolist()
#to reconstruct the earlier df by assigning columns to this DF
#school_df = pd.DataFrame()
#school_df["school_id"] = school_id

In [61]:
schoolCompleteDF = pd.read_csv("Resources/schools_complete.csv")
studentCompleteDF = pd.read_csv("Resources/students_complete.csv")
#studentCompleteDF['student_name'][3] = 'Richard Scott'
#better way to replace Dr. Richard Scott 
#studentCompleteDF.replace({'student_name': 'Dr. Richard Scott'}, 'Richard Scott', inplace=True)
#only run once after completion
#studentCompleteDF.to_csv('Resources/students_complete.csv')

In [62]:
studentCompleteDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75